:root {
    
  --primario: #8f33b99d;
 
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

}

body {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: var(--negro);
  background-color: var(--primario);
  
}

.contenedor flex {
  display:flex; 
  align-self: flex-start;
  width: 20%;
  margin: 20px;
}


h1 {
  font-size: 10rem;
  font-family: cursive;
}

h2 {
  font-size: 2.8rem;
  color: var(--secundario);
}

h3 {
  font-size: 2.8rem;
}

h2 {
  text-align: left;
}

h1,h3 {
  text-align: center;
}


.header {
 display: center;
 margin-top: 20px;
 color: rgb(144, 35, 35);
 font-weight: lighter;
 text-decoration: none;
}

.navegacionPrincipal {
  display:block;
  place-items: start center;
  list-style-type: none;
  text-align: center;
  justify-items: center;
  font-size: 0px;
  width: 85%;
  margin-left:0%;
}

.navegacionPrincipal > ul li {
  margin-top: 20px;
  width: 20%;
  position:start;
  ;
  background: var(--primario);
}

.navegacionPrincipal li a {
  justify-content: flex-start;
  text-decoration:none;
  font-size: 2rem;
  line-height: 2.8rem;
  color: whitesmoke;
}

.navegacionPrincipal li:hover a {
  
  background: #684088;
  background-size: inherit;
  padding: 5px 12px;
  border-radius: 11%;
  color: whitesmoke;
}

.main {
  background-color: #cf955fe8;

}
.main .contenedor{
display: inline;
-ms-text-size-adjust: 10px;
font-family: sans-serif;
width: 640px;
height: 200px;
  
}
.footer {
  display: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
 
}

.footer .redes{
  text-align: center;
}

.footer .redes a {
  text-decoration: none;
 
}

.footer .texto {
  text-align: center;
}

.imagenes {
 display: flex;
 flex-wrap: wrap;
 justify-content:  center; 
 max-height: fit-content;
 max-width: fit-content;   
 margin-top: 0%;
 margin-left: 50px;
 
}

.boton {
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5rem;
  width: 75%;
  text-align: center;
  border: none;
}

.boton:hover {
  cursor: pointer;
}